USE [master]
GO
/****** Object:  Database [SkillEmp]    Script Date: 04/02/2018 01:13:51 ******/
CREATE DATABASE [SkillEmp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SkillEmp', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SkillEmp.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SkillEmp_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SkillEmp_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SkillEmp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SkillEmp]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/02/2018 01:13:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 04/02/2018 01:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[Alias] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Refs]    Script Date: 04/02/2018 01:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refs](
	[ReferenceId] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[Psition] [nvarchar](50) NULL,
	[Alias] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Refs] PRIMARY KEY CLUSTERED 
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SkillIdInfoes]    Script Date: 04/02/2018 01:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillIdInfoes](
	[SkillInfoId] [int] IDENTITY(1,1) NOT NULL,
	[URL] [nvarchar](250) NOT NULL,
	[SkillId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SkillIdInfoes] PRIMARY KEY CLUSTERED 
(
	[SkillInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Skills]    Script Date: 04/02/2018 01:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[SkilName] [nvarchar](50) NOT NULL,
	[BriefDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Skills] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [LastName], [FirstName], [Alias], [Email]) VALUES (3, N'10', N'almog', N'30', N'20')
INSERT [dbo].[Employees] ([EmployeeId], [LastName], [FirstName], [Alias], [Email]) VALUES (4, N'elazar', N'royi', N'royko', N'100@')
INSERT [dbo].[Employees] ([EmployeeId], [LastName], [FirstName], [Alias], [Email]) VALUES (5, N'10', N'almog', N'30', N'20')
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Refs] ON 

INSERT [dbo].[Refs] ([ReferenceId], [LastName], [FirstName], [Psition], [Alias], [Email], [EmployeeId]) VALUES (9, N'Shimi                                             ', N'Shalom                                            ', N'six                                               ', N'good man                                          ', N'shsh1234@                                         ', 13)
INSERT [dbo].[Refs] ([ReferenceId], [LastName], [FirstName], [Psition], [Alias], [Email], [EmployeeId]) VALUES (10, N'Foad', N'First', N'sevsen', N'Fosd golf', N'fooo@', 13)
INSERT [dbo].[Refs] ([ReferenceId], [LastName], [FirstName], [Psition], [Alias], [Email], [EmployeeId]) VALUES (11, N'chani', N'sivan', N'One', N'she like to help', N'stiv@', 3)
SET IDENTITY_INSERT [dbo].[Refs] OFF
SET IDENTITY_INSERT [dbo].[SkillIdInfoes] ON 

INSERT [dbo].[SkillIdInfoes] ([SkillInfoId], [URL], [SkillId]) VALUES (3, N'https://www.codeproject.com/Questions/669057/csharp-datatable-query-for-retriving-similar-recor', 3)
INSERT [dbo].[SkillIdInfoes] ([SkillInfoId], [URL], [SkillId]) VALUES (4, N'https://stackoverflow.com/questions/23646616/datatable-column-into-a-string-with-string-join', 1)
INSERT [dbo].[SkillIdInfoes] ([SkillInfoId], [URL], [SkillId]) VALUES (8, N'https://www.dotnetperls.com/string-join', 6)
SET IDENTITY_INSERT [dbo].[SkillIdInfoes] OFF
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([SkillId], [EmployeeId], [SkilName], [BriefDescription]) VALUES (1, 3, N'ADO.NET                                           ', N'object oriented                                   ')
INSERT [dbo].[Skills] ([SkillId], [EmployeeId], [SkilName], [BriefDescription]) VALUES (2, 3, N'C#                                                ', N'object oriented                                   ')
INSERT [dbo].[Skills] ([SkillId], [EmployeeId], [SkilName], [BriefDescription]) VALUES (3, 13, N'ASP.NET                                           ', N'It is good language                               ')
SET IDENTITY_INSERT [dbo].[Skills] OFF
/****** Object:  Index [IX_EmployeeId]    Script Date: 04/02/2018 01:13:52 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[Refs]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SkillId]    Script Date: 04/02/2018 01:13:52 ******/
CREATE NONCLUSTERED INDEX [IX_SkillId] ON [dbo].[SkillIdInfoes]
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 04/02/2018 01:13:52 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[Skills]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Refs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Refs_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Refs] CHECK CONSTRAINT [FK_dbo.Refs_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[SkillIdInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SkillIdInfoes_dbo.Skills_SkillId] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([SkillId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkillIdInfoes] CHECK CONSTRAINT [FK_dbo.SkillIdInfoes_dbo.Skills_SkillId]
GO
ALTER TABLE [dbo].[Skills]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Skills_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Skills] CHECK CONSTRAINT [FK_dbo.Skills_dbo.Employees_EmployeeId]
GO
USE [master]
GO
